
<div class="col-sm-12">
  <section class="panel">
    <div class="list">
      <table class="table table-striped table-advance table-hover">
        <thead>
          <tr>
            <th class="actions-btn1"></th>
            <th class="room-no">部屋番号</th>
            <th class="resv-no">予約番号</i></th>
            <th class="expire">有効期限</th>
            <th class="plan">氏名 / プラン</th>
            <th class="action-btn2"></th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </section>
</div>
